* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  image-orientation: inherit;
  background-color: green;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  padding: 14px;
  font: 2em sans-serif;
  position: absolute;
}

body {
  background-color: rgb(34, 139, 113);
  color: whitesmoke;
  display: flex;
  justify-content: start;
}

.box {
  height: 15px;
  width: 40px;
}

#upcoming-reminder {
  grid-column-start: 1;
  grid-row-start: 2;
  text-align: center;
  flex-direction: column;
}

#your-tracker {
  justify-content: space-evenly;
  align-items: center;
  grid-column-start: 1;
  grid-row-start: 3;
  -ms-grid-column-span: 1;
  -ms-grid-row-span: 2;
}

#prescription {
}

#plant-watering-button {
  grid-column-start: 2;
  grid-row-start: 3;
}

#create-a-new-tracker {
  grid-column-start: 3;
  grid-row-start: 3;
}

button {
  text-align: center;
  color: black;
}

font {
  font-size: 3rems;
  color: whitesmoke;
}

nav {
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: lightgrey;
}
