* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-xl: clamp(2rem, 2vw + 1rem, 3rem);
  --fs-600: 2rem;
  --fs-500: 1rem;
  --fs-400: 0.8rem;
}

@media (min-width: 800px) {
  :root {
    --fs-xl: clamp(3rem, 3vw + 1rem, 4rem);
    --fs-600: 2rem;
    --fs-500: 1.4rem;
    --fs-400: 1rem;
  }
}

/* the above font size variables can be used like this:
font-size: var(--fs-xl);
for my styling on the tracker page, I used xl for the title, 600 for headings and 400 for normal text. I left the 500 in but I have not used it in any styling for tracker page.  */

/* colours used: 
rgb(30, 85, 92); green
rgb(185, 184, 185); white (text boxes on tracker page and text that sits on the green)
background-color: rgb(219, 217, 219); off-white*/

body {
  background-color: rgb(219, 217, 219);
  font-size: var(--fs-500);
  font-family: "Inter", sans-serif;
  padding-top: 2vh;
}

#welcome {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-xl);
  padding-left: 4vw;
  padding-right: 4vw;
}

button {
  min-width: fit-content;
  width: 8vw;
  border-radius: 12px;
  height: 5vh;
  font-size: var(--fs-400);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(30, 85, 92);
  color: rgb(229, 235, 234);
  border: 1px solid gray;
  padding-left: 1%;
  padding-right: 1%;
}

button:hover {
  color: rgb(185, 184, 185);
  cursor: pointer;
  box-shadow: 2px 2px rgb(185, 184, 185);
}

#leftToTake {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  padding-left: 5vw;
  overflow: hidden;
  padding-top: 2%;
}

#leftToTake > div > p {
  padding-left: 1.5vw;
  background-color: rgb(229, 235, 234);

  padding-bottom: 0.5rem;
}

#leftToTake > div > p:first-of-type {
  font-weight: bold;
  color: rgb(30, 85, 92);
  font-size: var(--fs-500);
  text-wrap: wrap;
  padding-left: 1.2vw;
}

h2 {
  grid-row: 1;
  align-self: end;
  padding-bottom: 2%;
}

.medicineName {
  border-block-start: 1px solid gray;
}

.time {
  border-block-start: 1px solid gray;
}

#notTakenmedName {
  grid-column: 1;
  grid-row: 2;
  border: 1px solid gray;
  border-radius: 12px;
  overflow: hidden;
  /* padding-bottom: 2vh; */
}

#timeToTake {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid gray;
  border-radius: 12px;
  overflow: hidden;
}

#takenAlready {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  padding-left: 5vw;
  margin-top: 4vh;
  overflow: hidden;
}

#takenAlready > div > p {
  padding-left: 1.5vw;
  background-color: rgb(229, 235, 234);
  padding-bottom: 0.5rem;
}

#takenAlready > div > p:first-of-type {
  font-weight: bold;
  color: rgb(30, 85, 92);
  font-size: var(--fs-500);
  text-wrap: wrap;
  padding-left: 1.2vw;
}

#takenMedName {
  grid-column: 1;
  grid-row: 2;
  border: 1px solid gray;
  border-radius: 12px;
  overflow: hidden;
}

#timeTaken {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid gray;
  border-radius: 12px;
  overflow: hidden;
}

#overview {
  /* border-block-start: 1px solid gray; */
  margin-top: 2%;
  width: 80%;
  padding-left: 5vw;
  padding-bottom: 4%;
}

nav {
  background-color: rgb(30, 85, 92);
  min-height: fit-content;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navLabel {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(229, 235, 234);
}

a:hover {
  color: rgb(185, 184, 185);
}

@media (min-width: 800px) {
  nav {
    top: 0;
    justify-content: end;
    gap: 2vh;
  }
  body {
    padding-top: 8vh;
  }
  .navLabel {
    display: block;
    font-size: var(--fs-400);
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  i {
    text-align: center;
  }
  #takenAlready > div > p:first-of-type {
    font-size: var(--fs-600);
  }
  #leftToTake > div > p:first-of-type {
    font-size: var(--fs-600);
  }
}

.reminder-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgb(30, 85, 92);
  border: 2px solid gray;
  padding: 16px;
  border-radius: 8px;
  font-weight: bold;
  z-index: 9999;
  color: rgb(229, 235, 234);
}

#medName {
  border: 1px solid gray;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgb(229, 235, 234);
}

#medName p {
  cursor: pointer;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  border-block-start: 1px solid gray;
}

#medName p:first-of-type {
  border: none;
}

#medName p::first-letter {
  color: rgb(30, 85, 92);
  font-weight: bold;
}

.med-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 3rem;
  padding-bottom: 0.5rem;
}

.hide {
  display: none;
}
