* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
}

#new-presription-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

legend {
  font-weight: bold;
}
