* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: seagreen;
  color: black;
  font-size: 1.5rem;
}

#form-section {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#newPrescriptionForm {
  background-color: aliceblue;
  width: 90%;
}

fieldset {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

legend {
  font-weight: bold;
  font-size: 2rem;
}

input {
  height: 1.5rem;
}

select {
  height: 1.5rem;
}

button {
  width: 4rem;
  height: 1.5rem;
  align-self: center;
  margin-bottom: 1rem;
  background-color: seagreen;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: seagreen;
}

@media (min-width: 600px) {
  body {
    font-size: 1rem;
  }

  #newPrescriptionForm {
    width: 80%;
  }

  input {
    height: 1.1rem;
  }

  select {
    height: 1.1rem;
  }
}
