* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: seagreen;
  color: black;
  font-size: 1.5rem;
}

#form-section {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#newPrescriptionForm {
  background-color: aliceblue;
  width: 90%;
  font-family: "Inter", sans-serif;
}

/* colours used: 
rgb(30, 85, 92); green
rgb(185, 184, 185); white (text boxes on tracker page and text that sits on the green)
background-color: rgb(219, 217, 219); off-white*/

fieldset {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

legend {
  font-weight: bold;
  font-size: 2rem;
}

input {
  height: 1.5rem;
}

select {
  height: 1.5rem;
}

button {
  width: 4rem;
  height: 1.5rem;
  align-self: center;
  margin-bottom: 1rem;
  background-color: seagreen;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: seagreen;
}

@media (min-width: 600px) {
  body {
    font-size: 1rem;
  }

  #newPrescriptionForm {
    width: 80%;
  }

  input {
    height: 1.1rem;
  }

  select {
    height: 1.1rem;
  }
}

/* nav bar styling */
nav {
  background-color: rgb(30, 85, 92);
  min-height: fit-content;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navLabel {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(229, 235, 234);
}

a:hover {
  color: rgb(185, 184, 185);
}

@media (min-width: 800px) {
  nav {
    top: 0;
    justify-content: end;
    gap: 2vh;
  }
  .navLabel {
    display: block;
    font-size: var(--fs-400);
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  i {
    text-align: center;
  }
}
/* nav bar styling */
